<div class="content-container">

  <div class="mat-elevation-z8">

    <div style="height: 100px; line-height: 100px">
      <h3>Warehouses</h3>
    </div>

    <table mat-table [dataSource]="warehouses" style="width: 100%">

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/warehouse-edit/{{element.id}}">{{element.code}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address</th>
        <td mat-cell
            *matCellDef="let element"> {{element.address.street + ' ' + element.address.number + ', ' + element.address.postalCode + ' ' + element.address.city}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)=delete(element.id)>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

    <button mat-fab color="primary" [routerLink]="['/warehouse-add']" style="margin-bottom: 20px">Add</button>
  </div>
</div>
